body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  padding: 3dvh;
  display: flex;
  gap: 1rem;

  button {
    border: none;
    background-color: transparent;
    color: white;
    width: min(100px, 20vw);
    height: min(50px, 10vh);
    font-size: min(1rem, 2.5rem);

    &:hover {
      background-color: #555;
    }
  }
}
